 
<!-- <footer>
    <div class="container">
<div class="row footer">
    <div class="col-sm-2">
    <h6>Copyright &copy; 2017 Diksha Baruah</h6>
    </div>
    
    <div class="col-sm-4">
        <h4>Foodies App</h4>
        <hr>
        <p>Our team gathers information from every restaurant on a regular basis to ensure our data is fresh. Our vast community of food lovers share their reviews and photos, so you have all that you need to make an informed choice.</p>
    </div>
    
    <div class="col-sm-2">
        <h4>Navigation</h4>
        <ul class="list-unstyled">
            <li><a href="#">HOME</a></li><br>
            <li><a href="#">CUISINES</a></li><br>
            <li><a href="#">ABOUT US</a></li><br>
            
        </ul>
    </div>
    
    <div class="col-sm-2">
        <h4>Follow Us</h4>
        <ul class="list-unstyled" >
            <li><a class="btn  btn-info btn-sm " href="#" role="button">Twitter</a></li><br>
            <li><a class="btn  btn-primary btn-sm " href="#" role="button">Facebook</a></li><br>
            <li><a class="btn  btn-danger btn-sm " href="#" role="button">Google Plus +</a></li><br>
        </ul>
    </div>
</div> 
    
</div>
</footer> -->