#searchcomp{
    padding-top: 80px;
}
.thumburl{
    width: 112px;
    height: 105px;
}
ul{
   list-style: none; 
}
.lolu{
    max-height: 89px;
    width: 252px;
}
#searchtab{
    padding-top: 80px;
}